:root {
  --main-nav-theme-color: #e0e0e0;
  --main-theme-color: #ffffff;
  --main-theme-dark-color: #212121;
}

.required:after { content:"*"; color: red}

.dropdown-item:active {
  background: var(--main-theme-dark-color);
}

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
  text-indent: -999999px;
  width: 27px;
  background-color: var(--main-theme-color);
  color: black;
  border-style: solid;
  border-width: 2px;
}

.badgebox:focus + .badge
{
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge
{
  text-indent: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-img {
  height: 920px;
}

.nav-theme {
  background: var(--main-nav-theme-color);
}

.theme {
  background: var(--main-theme-color);
}

.theme-dark {
  background: var(--main-theme-dark-color);
  color: #FFFFFF;
}

.fa.fa-navicon {
  border-color:white;
}

.navbar {
    position:absolute;
    z-index:10;
    width:100%;
}

.responsive-urs {
  height: 100px;
  padding: 10px 0 10px 0;
}

.responsive-mec {
  height: 90px;
  padding: 10px 0 10px 0;
}

@media screen and (max-width: 768px) {
  .carousel-img {
    height: 200px;
  }

  .carousel {
    padding-top: 155px;
  }

  .responsive-urs {
    height: 80px;
  }

  .responsive-mec {
    height: 70px;
  }

  .Hidd {
    font-size: 0;
  }

  .left-right {
    float: none;
    margin: 0 auto;
  }

}

.navbar ul {
  color: white;
}

.btn:hover {
    color: var(--main-theme-dark-color);
    background: transparent;
    border-color: var(--main-theme-dark-color);
    border-width: 2px;
}
