.required:after { content:"*"; color: red}
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
  text-indent: -999999px;
  width: 27px;
  background-color: white;
  color: black;
}

.badgebox:focus + .badge
{
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge
{
  text-indent: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-img {
  height: 870px;
}

.theme {
  background: #f3e5f5;
}

.theme-dark {
  background: #4a148c;
  color: #FFFFFF;
}

.fa.fa-navicon {
  border-color:white;
}

.navbar {
    position:absolute;
    z-index:10;
    width:100%;
}

@media screen and (max-width: 768px) {
  .carousel-img {
    height: 200px;
  }

  .carousel {
    padding-top: 155px;
  }

  img.responsive {
    height: auto;
  }

  .Hidd {
    /* text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; */
    font-size: 0;
  }

}

.navbar ul {
  color: white;
}
